<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <localRepository xmlns="http://maven.apache.org/SETTINGS/1.1.0">/Users/zone2/.m2/repository</localRepository>
  <pluginGroups xmlns="http://maven.apache.org/SETTINGS/1.1.0">
    <pluginGroup>org.apache.maven.plugins</pluginGroup>
    <pluginGroup>org.codehaus.mojo</pluginGroup>
  </pluginGroups>


 <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
      <gpg.executable>gpg2</gpg.executable>
      <gpg.keyname>2FC7553589934FE4</gpg.keyname>
      <gpg.passphrase>1password</gpg.passphrase>
      <gpg.defaultKeyring>false</gpg.defaultKeyring>
      <gpg.useagent>true</gpg.useagent>
      <gpg.lockMode>never</gpg.lockMode>
      <gpg.homedir>/Users/zone2/.gnupg</gpg.homedir>
      <gpg.publicKeyring>/Users/zone2/.gnupg/pubring.kbx</gpg.publicKeyring>
      <gpg.secretKeyring>/Users/zone2/.gnupg/pubring.kbx</gpg.secretKeyring>
    </properties>
    </profile>
  </profiles>

 <servers>
    <server>
      <id>ossrh</id>
      <username>kingsmentor</username>
      <password>!1KJMdomain</password>
    </server>

    <server>
  <id>github.com</id>
  <username>kingsmentor</username>
  <password>dc7d9d7b8b74b3df2db873fbf11797d0dea117a4</password>
</server>

  </servers>


</settings>